* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

main h1,main label{
    color: #457b9d;
}
main {
    background: #f1faee;
}
aside {
    background: #1d3557;
    color: #f1faee;
    box-shadow: inset 10px 0px 20px -10px black;
}
h1 {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
    padding: 0
}
main,aside {
    padding: 2rem;
    width: 50%;
}
label {
    font-weight: bold;
    font-size: 1.3rem;
}
input[type='number'],
input[type='text'] {
    border: 2px solid #457b9d;
    display: block;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
}

button {
    border: none;
    display: block;
    padding: 1rem;
    background: #e63946;
    width: 100%;
    border-radius: 5px;
    color: #f1faee;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.4rem;

}
aside h2 {
    color: #457b9d;
    text-align: center;
}
.answer {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}
